<p id="notice"><%= notice %></p>

<h1>持っているグッズ</h1>

<table>
  <thead>
    <tr>
      <th><%= Item.human_attribute_name(:image) %></th>
      <th><%= Item.human_attribute_name(:name) %></th>
      <th><%= Item.human_attribute_name(:character) %></th>
      <th><%= Item.human_attribute_name(:category) %></th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><% if item.image.present? %>
            <%= image_tag item.image.url %>
          <% else %>
            <%= image_tag "default.png", size: "200x200" %>
          <% end %>
        </td>
        <td><%= item.name %></td>
        <td><%= item.character %></td>
        <td><%= item.category %></td>
        <td><%= link_to 'Show', item %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @items %>

