<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @owned_item.quantity %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @owned_item.remark %>
</p>

<%= link_to 'Edit', edit_owned_item_path(@owned_item) %> |
<%= link_to 'Back', owned_items_path %>
