<h1><%= t('.account') %></h1>

<strong><%= t('.user_name') %></strong>
  <%= @user.name %>
  <br>
<strong><%= t('.email') %></strong>
  <%= @user.email %>

<br>
<%= link_to t('edit'), edit_user_registration_path %>