<%= form_with(model: item, id: 'itemForm') do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field  :image, id: :item_image  %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :character %>
    <%= form.text_field :character %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, Item.categories.keys.to_a, {include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :purchased_on %>
    <%= form.date_field :purchased_on %>
  </div>

  <div form id="field">

    <%= form.label :item_type_owned,  t('activerecord.attributes.item.owned_item') %>
    <%= form.radio_button :item_type, 'owned', checked: true, onchange: "updateFormAction();"%>
   
    <%= form.label :item_type_wanted,  t('activerecord.attributes.item.wanted_item')  %>
    <%= form.radio_button :item_type, 'wanted', onchange: "updateFormAction();" %>
    
  </div>


  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, value: 1 %>
  </div>

  <div class="field">
    <%= form.label :remark %>
    <%= form.text_area :remark %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  function updateFormAction() {
    var form = document.getElementById('itemForm');
    var itemType = document.querySelector('input[name="item_type"]:checked').value;
    if (itemType == 'owned') {

      document.getElementById('quantity_field').style.display = 'block';
      document.getElementById('remark_field').style.display = 'block';
    } else if (itemType == 'wanted') {
      document.getElementById('quantity_field').style.display = 'none';
      document.getElementById('remark_field').style.display = 'none';
    }
  }
</script>

