<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Character:</strong>
  <%= @item.character %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Purchased on:</strong>
  <%= @item.purchased_on %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>



<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
