<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Character:</strong>
  <%= @item.character %>
</p>

<p>
  <strong>Category:</strong>
  <%= @item.category %>
</p>

<p>
  <strong>Purchased on:</strong>
  <%= @item.purchased_on %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>
<p>
  <%= image_tag @item.image.url if @item.image.present? %>
</p>

<% if @item.owned_item %>

  <p>
   <strong>ItemType:</strong>
   Owned Item
  </p>
  <p>
    <strong>Owned Item Quantity:</strong>
    <%= @item.owned_item.quantity %>
  </p>
  <p>
    <strong>Remark:</strong>
    <%= @item.owned_item.remark%>
  </p>

<% elsif @item.wanted_item %>
  <p>
    <strong>ItemType:</strong>
    Wanted Item
  </p>
  <p>
    <strong>Wanted Item Quantity:</strong>
    <%= @item.wanted_item.quantity%>
  </p>
  <p>
    <strong>Remark:</strong>
    <%= @item.wanted_item.remark%>
  </p>
<% end %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
