<!DOCTYPE html>
<html>
  <head>
    <title>GoodsApp</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://kit.fontawesome.com/851afd15a5.js" crossorigin="anonymous"></script>
  </head>

  <body>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? && current_user.admin == true %>
<!-- 管理者にのみ表示したい内容例 -->
    <%= link_to '/admin' do %>
    <button type="button" class="btn btn-outline-danger admin-btn"><%= t('.admin_page') %></button>
  <% end %>
<% end %>

<header>
  <% if user_signed_in? %>
  <ul>
    <li id="user-show", class="fa-solid fa-user">
    <%= link_to t('.account'),users_profile_path %></li>
    <li id="sign-out", class="fa-solid fa-arrow-right-from-bracket">
    <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete  %></li>
  </ul>
  <% else %>
  <ul>
    <li id="sign-in", class="fa-solid fa-arrow-right-to-bracket">
    <%= link_to t('.sign_in'), new_user_session_path %></li>
    <li id="new-session", class="fa-solid fa-user-plus">
    <%= link_to t('.new_account'), new_user_registration_path %></li>

  </ul>
  <% end %>
</header>



    <%= yield %>
    <footer>
  <% if user_signed_in? %>
  <ul>
     <li id="owned-items-index", class="fa-solid fa-box">
    <%= link_to t('.owned_item'),owned_items_path %></li>
    <li id="wanted-items-index", class="fa-solid fa-star">
    <%= link_to t('.wanted_item'), wanted_items_path %></li>
    <li id="new-item", class="fa-solid fa-circle-plus">
    <%=link_to t('.new_item'), new_item_path %>
    <li id="label-index", class="fa-solid fa-tags">
    <%= link_to t('.label'), labels_path %></li>
</ul>
<% end %>
</footer>
  </body>
</html>
